.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 400px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0
    rgba(0,0,0,0.19);
		color: black;
		padding: 50px 100px;
		font-size: 25px;
}
.juzhong {
    text-align:center;
    background: #FFC0CB;
    font-family:century;
}
.h1 { 
    color: #4CAF50;
    font-size: 80px;
}
.h2 {
    color: #4CAF50;
    font-size: 25px;
    font-style: 微软雅黑;
}
